.basic-style {
    font-size: 20px;
    border: 2px solid rgb(0, 98, 28);
    padding: 2px 10px;
    width: 200px;
    border-radius: 20px;
}

.to-list {
    margin-top: 10px;
}

.submit {
    margin-top: 10px;
    background-color: rgb(239, 111, 111);
    color: white;
}

.submit:hover {
    background-color: rgb(167, 47, 47);
}

input {
    margin-top: 5px;
    border-radius: 15px;
    padding: 5px 10px;
}

button {
    margin-top: 10px;
    background-color: rgb(239, 111, 111);
    color: white;
    border-radius: 15px;
    padding: 5px 10px;

}

button:hover {
    background-color: rgb(167, 47, 47);
}